<h1><%= @user.name || "(Anonymous)" %></h1>
 <h2><%= @user.email %></h2>
 <p><%= render 'items/form' %></p> 
 <h3><%= @items.count %> Things to get done in the next <mark><em>7 days...</em></mark> </h3>
 <p><%= render @items %></p>